<div class="preset-switcher">
    <button class="button button--white-outline preset-switcher__main"
            (click)="changePreset(preset.modifier, !preset.state)"
            [class.is-active]="preset.state">
        <span>{{noteName}}: {{preset.title}} ({{preset.modifier}})</span>
    </button>
    <ul class="list">
        <ng-container *ngIf="'preset.config.select'">
            <li class="list__item" *ngFor="let select of preset.config.select">
                <button class="button button--white preset-switcher__sub"
                        [class.is-selected]="select.value === preset.modifier"
                        [class.is-active]="preset.state && select.value === preset.modifier"
                        (click)="changePreset(select.value, true)">
                    <span>{{select.label}} ({{select.value}})</span>
                </button>
            </li>
        </ng-container>
    </ul>
</div>