$c-black: #000;
$c-white: #FFF;

$colorIntensity: (darkgreen, green, yellowgreen, #ffea00, gold, orange, orangered, red, darkred);
$c-darkblue: #26007D;
$c-blue: #3503A8;
$c-lightblue: #05f3fe;
$c-purple: #B30699;
$c-pink: #FF179A;
$c-yellow: #FFFF05;
$c-orange: #FF4700;