@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
	<script src="~/Scripts/smoothie.js"></script>
	<script src="/signalr/hubs"></script>
	<script src="~/Scripts/monitor.js"></script>
}

<div class="container">
	<!--ul id="source-list">
		<li id="live" data-id="live">Live feed</li>


	</ul-->
	<div id="graphs">

	</div>
</div>
