$c-black: #000;
$c-white: #FFF;
$c-offwhite: #f1f1f1;

$c-red: #ff0000;
$c-green: #00ff00;
$c-green--inactive: #d2e0d2;

$c-blue: #0000ff;

$c-bluescreen-blue: #0700A3;

$c-grey--light: #c3c3c3;
$c-grey: #aaa;
$c-grey--dark: #737373;
$c-grey--darker: #454545;

$c-green--dark:  #00a000;

$c-darkblue: #26007D;
$c-bluepurple: #3503A8;
$c-lightblue: #05f3fe;
$c-purple: #800080;
$c-pink: #FF179A;
$c-yellow: #FFFF05;
$c-orange: #FF4700;

$c-test: purple;