#

.vs/*
*.filters
**/__vm
*.buildinfo
*.elf
*.hex
**/obj/*
**/bin/*
*.log
*.yml
**/WifiConfig.h
*.vcxproj
*.vcxproj.user
*.sln
*.csproj
App.config
AssemblyInfo.cs
*.user
Debug/
CSharp/packages/
CSharp/Monitor/Areas/HelpPage/
packages/Microsoft.Owin.Security.Google.3.0.1/Microsoft.Owin.Security.Google.3.0.1.nupkg
packages/
