@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$blue: #72d0eb;
$pink: #ffb3b3;
$pink-invert: #fff;
$family-serif: "Merriweather", "Georgia", serif;

$primary: $pink;
$primary-invert: $pink-invert;
$danger: $orange;
$family-primary: $family-serif;

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~bulma/bulma";
