$font-logo: 'Orbitron', sans-serif;
$font-mono: 'Klartext-Mono', monospace;

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/orbitron-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Klartext-Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/KlartextMono-Light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Klartext-Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Klartext-Mono-Medium.woff') format('woff');
}
