$c-black: #000;
$c-white: #fff;

$c-red: #ff0000;
$c-green: #00ff00;
$c-blue: #0000ff;

$c-bluescreen-blue: #0700a3;
$c-grey: #aaa;

$c-green--dark: #00a000;

$c-darkblue: #26007d;
$c-bluepurple: #3503a8;
$c-lightblue: #05f3fe;
$c-purple: #b30699;
$c-pink: #ff179a;
$c-yellow: #ffff05;
$c-orange: #ff4700;

$c-test: purple;
