$c-red: #ff0000;

$c-green: #00ff00;
$c-green--inactive: #d2e0d2;
$c-green--dark: #00a000;

$c-blue: #0000ff;
$c-black: #000;

$c-white: #fff;

$c-darkblue: #26007d;
$c-bluepurple: #3503a8;
$c-lightblue: #05f3fe;
$c-purple: #b30699;
$c-pink: #ff179a;
$c-yellow: #ffff05;
$c-orange: #ff4700;
