@font-face {
    font-family: 'Fixedsys';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/FSEX300.woff') format('woff');
}

@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/orbitron-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'KlartextMono-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/KlartextMono-Light-webfont.woff') format('woff');
}
@font-face {
    font-family: 'FredokaOne';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/FredokaOne-Regular.woff') format('woff');
}

@font-face {
    font-family: 'NeonGlow';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/neon-glow.woff') format('woff');
}