// SCREENSIZES
$screen-xsmall:      340px;
$screen-minimal:     480px;
$screen-simple:      768px;
$screen-normal:     1024px;
$screen-large:      1280px;
$screen-xlarge:     1440px;
$screen-huge:       1680px;
$screen-jumbo:      1920px;

//  OTHER
$nav-height:        70px;
$height-button:     80px;