<div class="glitch" [ngClass]="glitchModifier">
    <div class="glitch__inner">
        <span class="glitch__color glitch__color--first">{{ glitchText }}</span>
        <span class="glitch__color glitch__color--second">{{ glitchText }}</span>
        <span class="glitch__color glitch__color--third">{{ glitchText }}</span>
        <span class="glitch__main">{{ glitchText }}</span>
    </div>
    <span class="glitch__line glitch__line--first"></span>
    <span class="glitch__line glitch__line--second"></span>
</div>
