<div class='color-controller'>
  <ul class='list list--colors'>
    @for (colorPalette of (colorPalettes$ | async); track colorPalette; let i = $index) {
      <li class='list__item'>
        <button (click)='socketService.sendColorPalette(colorPalette)' class='trigger-button'>
          SET: {{ i + 1 }}
        </button>
      </li>
    }
</ul>
<ul class='list list--colors'>
  @if ((currentColorSet$ | async); as currentColorSet) {
    @for (color of currentColorSet; track color) {
      <li class='list__item'>
        <app-trigger-button [color]='color'></app-trigger-button>
      </li>
    }
  }
</ul>
</div>
