.vista {
    background: #1e477d;
    height: 100%;
    position: relative;

    &::before {
        animation: grow 4s ease-in-out infinite;
        background: url('../../../../Shared/assets/img/vista_bcg.jpg') no-repeat center bottom / cover;
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 200%;
    }

    &__logo {
        animation: move 6s linear infinite;
        display: block;
        left: 50%;
        max-width: 400px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        @for $i from 1 through 40 {
            &:nth-child(#{$i}) {
                animation-delay: 20ms * $i;
                clip-path: polygon(
                        ($i - 1) * 2.5% 0,
                        $i * 2.5% 0,
                        $i * 2.5% 100%,
                        ($i - 1) * 2.5% 100%
                );
            }
        }
    }
}

@keyframes grow {
    0% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    95% {
        transform: translate(-50%, -50%) skew(-50deg, 0deg);
    }

    100% {
        transform: translate(-50%, -50%) skew(0deg);
    }
}

@keyframes move {
    @for $i from 0 through 4 {
        #{0%+($i * 5%)} {
            transform: translate(-50%, -50%);
        }

        #{1%+($i * 5%)} {
            transform: translate(-50%, -55%);
        }

        #{2%+($i * 5%)} {
            transform: translate(-50%, -50%);
        }

        #{3%+($i * 5%)} {
            transform: translate(-50%, -45%);
        }

        #{4%+($i * 5%)} {
            transform: translate(-50%, -50%);
        }
    }

    100% {
        transform: translate(-50%, -50%);
    }
}
