<div class="color-controller">
    <ul class="list list--colors">
        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 255, 255)" style="background-color: #ff0000; border-color: #ff0000;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(18, 255, 255)" style="background-color: #FFA500; border-color: #FFA500;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(58, 255, 255)" style="background-color: #FFFF00; border-color: #FFFF00;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(85, 255, 255)" style="background-color: #00FF00; border-color: #00FF00;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(95, 255, 255)" style="background-color: #008000; border-color: #008000;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(105, 255, 255)" style="background-color: #2E8B57; border-color: #2E8B57;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(129, 255, 255)" style="background-color: #40E0D0; border-color: #40E0D0;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(158, 255, 255)" style="background-color: #0000FF; border-color: #0000FF;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(183, 255, 255)" style="background-color: #800080; border-color: #800080;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(218, 255, 255)" style="background-color: #FF179A; border-color: #FF179A;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 0, 255)" style="background-color: #FFFFFF; border-color: #ffffff;"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 0, 0)" style="background-color: #000000; border-color: #000000;"></button>
        </li>

        <li class="list__item">
            TODO: Needs multi-color buttons
            <button class="button color-controller__button" (click)="sendMultiColor([129, 158, 183, 218])" style="background-color: #dfff3a; border-color: #000000;"></button>
        </li>

    </ul>
</div>
