<div class="color-controller">
    <ul class="list list--colors">
        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 255, 255)" style="setStyles([[0, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(18, 255, 255)" style="setStyles([[18, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(58, 255, 255)" style="setStyles([[58, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(85, 255, 255)" style="setStyles([[85, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(95, 255, 255)" style="setStyles([[95, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(105, 255, 255)" style="setStyles([[105, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(129, 255, 255)" style="setStyles([[129, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(158, 255, 255)" style="setStyles([[158, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(183, 255, 255)" style="setStyles([[183, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(218, 255, 255)" style="setStyles([[218, 255, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 0, 255)" style="setStyles([[0, 0, 255]]"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 0, 0)" style="setStyles([[0, 0, 0]]"></button>
        </li>

        <li class="list__item">
            TODO: Needs multi-color buttons
            <button class="button color-controller__button" (click)="sendMultiColor([129, 158, 183, 218])" style="setStyles([[129, 255, 255], [[158, 255, 255], [[183, 255, 255], [[218, 255, 255]]"></button>
        </li>

    </ul>
</div>
