<div class="vidt-controller">
<!--  <div class="section">-->
<!--    <h2 class="section__title">Beat</h2>-->
<!--    <ul class="list">-->
<!--      <li class="list__item">-->
<!--        <button (click)="socket.sendBeat()" class="text-button">BEAT</button>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

  <div class="section">
    <h2 class="section__title">Content Groups</h2>
    <ul class="list">
      <ng-container *ngFor="let contentGroup of (contentGroups$ | async)">
        <li class="list__item">
          <button (click)="socket.sendContentGroup(contentGroup)" class="text-button">
            {{ contentGroup.title }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">Custom words</h2>
    <ul class="list">
      <li class="list__item">
        <label class="form__label">Direct input</label>
        <input
          #mainDirect
          (keyup)="socket.sendText(mainDirect.value)"
          class="form__input"
          type="text"
        />
      </li>

      <li class="list__item">
        <label class="form__label">On send</label>
        <div class="form__item">
          <input #mainBtn class="form__input" type="text"/>
          <button
            (click)="socket.sendText(mainBtn.value)"
            class="text-button form__button"
          >
            SEND
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="(contentGroup$ | async) as contentGroup" class="section">
    <h2 class="section__title">Text</h2>
    <ul class="list">
      <ng-container *ngFor="let word of contentGroup.wordSet">
        <li class="list__item">
          <button (click)="socket.sendText(word)" class="text-button">
            {{ word }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">Shapes</h2>
    <ul class="list">
      <ng-container *ngFor="let shape of (shapes$ | async)">
        <li class="list__item">
          <button (click)="socket.sendShape(shape)" class="text-button">
            {{ shape }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">Sizes</h2>
    <ul class="list">
      <ng-container *ngFor="let size of (sizes$ | async)">
        <li class="list__item">
          <button (click)="socket.sendSize(size)" class="text-button">
            {{ size }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>


  <div class="section">
    <h2 class="section__title">Animations</h2>
    <ul class="list">
      <ng-container *ngFor="let type of (animations$ | async)">
        <li class="list__item">
          <button (click)="socket.sendAnimation(type)" class="text-button">
            {{ type }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">GlitchIntensity</h2>
    <ul class="list">
      <li *ngFor="let intensity of glitchIntensities" class="list__item">
        <button
          (click)="socket.sendGlitchIntensity(intensity.value)"
          class="text-button"
        >
          {{ intensity.label }}
        </button>
      </li>
    </ul>
  </div>
  <div class="section">
    <h2 class="section__title">Vidt</h2>
    <ul class="list">
      <li *ngFor="let vidtPreset of (vidtPresets$ | async)" class="list__item">
        <button (click)="socket.sendVidtPreset(vidtPreset)" class="text-button">
          {{ vidtPreset }}
        </button>
      </li>
    </ul>
  </div>

    <ng-container *ngIf="(contentGroup$ | async) as contentGroup">
        <div *ngIf="contentGroup.images.length" class="section">
            <h2 class="section__title">Photo's</h2>
            <ul class="list">
                <li *ngFor="let image of contentGroup.images" class="list__item">
                    <button
                        (click)="socket.sendPhotoAsset(image)"
                        [style.background-image]="'url(\'assets/media-by-group/' + image + '\')'"
                        class="photo-button">
                        &nbsp;
                    </button>
                </li>
            </ul>
        </div>

        <div *ngIf="contentGroup.videos.length" class="section">
            <h2 class="section__title">Videos's</h2>
            <ul class="list">
                <li *ngFor="let video of contentGroup.videos" class="list__item">
                    <button (click)="socket.sendVideoAsset(video)" class="text-button">
                        {{ video }}
                    </button>
                </li>
            </ul>
        </div>
    </ng-container>
</div>
