<div class="vidt-controller">
  <ng-container *ngIf="vidtPresets$ | async as vidtPresets">
    <app-preset-switchers [presetState]="vidtPresets"></app-preset-switchers>
  </ng-container>
  <div class="section">
    <h2 class="section__title">Beat</h2>
    <ul class="list">
      <li class="list__item">
        <button (click)="socket.sendBeat()" class="text-button">BEAT</button>
      </li>
    </ul>
  </div>
  <div class="section">
    <h2 class="section__title">Vidt</h2>
    <ul class="list">
      <li *ngFor="let vidtPreset of vidtPresets" class="list__item">
        <button (click)="socket.sendVidtPreset(vidtPreset)" class="text-button">
          {{ vidtPreset }}
        </button>
      </li>
    </ul>
  </div>
  <div class="section">
    <h2 class="section__title">Photo's</h2>
    <ul class="list">
      <ng-container *ngFor="let images of (imageList$ | async)">
        <h3>{{images.name}}</h3>
        <ul class="list">
          <li *ngFor="let image of images.assets" class="list__item">
            <button
              (click)="socket.sendPhotoAsset(image)"
              [style.background-image]="'url(\'assets/photos/' + image + '\')'"
              class="photo-button">
              {{ image }}
            </button>
          </li>
        </ul>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">Videos's</h2>
    <ul class="list">
      <ng-container *ngFor="let videos of (videoList$| async)">
        <h3>{{videos.name}}</h3>
        <ul class="list">
          <li *ngFor="let video of videos.assets" class="list__item">
            <button (click)="socket.sendVideoAsset(video)" class="text-button">
              {{ video }}
            </button>
          </li>
        </ul>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">Animations</h2>
    <ul class="list">
      <ng-container *ngFor="let type of animations">
        <li class="list__item">
          <button (click)="socket.sendAnimation(type)" class="text-button">
            {{ type }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">GlitchIntensity</h2>
    <ul class="list">
      <li *ngFor="let intensity of glitchIntensities" class="list__item">
        <button
          (click)="socket.sendGlitchIntensity(intensity.value)"
          class="text-button"
        >
          {{ intensity.label }}
        </button>
      </li>
    </ul>
  </div>
</div>
