<div class="vidt-controller">
  <ng-container *ngIf="vidtPresetState$ | async as vidtPresetState">
    <app-preset-switchers [presetState]="vidtPresetState"></app-preset-switchers>
  </ng-container>
  <div class="section">
    <h2 class="section__title">Beat</h2>
    <ul class="list">
      <li class="list__item">
        <button (click)="socket.sendBeat()" class="text-button">BEAT</button>
      </li>
    </ul>
  </div>
  <div class="section">
    <h2 class="section__title">Vidt</h2>
    <ul class="list">
      <li *ngFor="let vidtPreset of vidtPresets" class="list__item">
        <button (click)="socket.sendVidtPreset(vidtPreset)" class="text-button">
          {{ vidtPreset }}
        </button>
      </li>
    </ul>
  </div>
  <div class="section">
    <h2 class="section__title">Photo's</h2>
    <ul class="list">
      <ng-container *ngFor="let asset of (photoAssets$ | async)">
        <li class="list__item">
          <button
            (click)="socket.sendPhotoAsset(asset)"
            [style.background-image]="'url(assets/photos/' + asset + ')'"
            class="photo-button">
            {{ asset }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">Videos's</h2>
    <ul class="list">
      <ng-container *ngFor="let asset of (videoAssets$ | async)">
        <li class="list__item">
          <button (click)="socket.sendVideoAsset(asset)" class="text-button">
            {{ asset }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">Animations</h2>
    <ul class="list">
      <ng-container *ngFor="let type of animations">
        <li class="list__item">
          <button (click)="socket.sendAnimation(type)" class="text-button">
            {{ type }}
          </button>
        </li>
      </ng-container>
    </ul>
  </div>

  <div class="section">
    <h2 class="section__title">GlitchIntensity</h2>
    <ul class="list">
      <li *ngFor="let intensity of glitchIntensities" class="list__item">
        <button
          (click)="socket.sendGlitchIntensity(intensity.value)"
          class="text-button"
        >
          {{ intensity.label }}
        </button>
      </li>
    </ul>
  </div>
</div>
