$w-block-normal: 100 / 6 * 1vh;
$w-block-small: 10vh;
$w-block-large: 25vh;
$p-block-normal: 1.5vh;
$p-block-small: 1vh;

.color-blocks {
    --front-color: #ff0000;
    --back-color: #00ff00;

    $self: &;
    background: #000;
    height: 100vh;

    &__list {
        list-style: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
    }

    &__item {
        flex: 0 0 auto;
        height: $w-block-normal;
        padding: $p-block-normal;
        width: $w-block-normal;

        @for $i from 1 through 200 {
            $delay: ((random(11) - 1) / 10) * 1s;
            $duration: (((random(41) - 1) / 10) + 1) * 1s;

            &:nth-child(#{$i}) {
                #{$self}__block {
                    animation-delay: $delay;
                    animation-duration: $duration;
                }
            }
        }
    }

    &__block {
        animation: block-flip 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
    }

    &__front,
    &__back {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        backface-visibility: hidden;
        content: '';
        display: block;
    }

    &__front {
        background-color: var(--front-color);
    }

    &__back {
        transform: rotateY(180deg);
        background-color: var(--back-color);

    }

    &--circle{
        #{ $self }__front,
        #{ $self }__back {
            border-radius: 50%;
        }
    }

    &--triangle {
        #{ $self }__front,
        #{ $self }__back {
            background-color: transparent;
            border-left: ($w-block-normal / 2.4) solid transparent;
            border-right: ($w-block-normal / 2.4) solid transparent;
            border-bottom: $w-block-normal * 0.8  solid;
            height: 0;
            width: 0;
        }

        #{ $self }__front {
            border-bottom-color: var(--front-color);
        }

        #{ $self }__back {
            border-bottom-color: var(--back-color);
        }

        &#{ $self }--small {
            #{ $self }__front,
            #{ $self }__back {
                border-left-width: ($w-block-small / 2.4);
                border-right-width: ($w-block-small / 2.4);
                border-bottom-width: $w-block-small * 0.8;
                height: 0;
                width: 0;
            }
        }

        &#{ $self }--large{
            #{ $self }__front,
            #{ $self }__back {
                border-left-width: ($w-block-large / 2.4);
                border-right-width: ($w-block-large / 2.4);
                border-bottom-width: $w-block-large * 0.8;
                height: 0;
                width: 0;
            }
        }
    }

    &--small {
        #{ $self }__item {
            height: $w-block-small;
            padding: $p-block-small;
            width: $w-block-small;
        }
    }

    &--large {
        #{ $self }__item {
            height: $w-block-large;
            padding: $p-block-normal;
            width: $w-block-large;
        }
    }
}

@keyframes block-flip {
    0% {
        transform: rotateX(0);
    }

    50% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}
