.vista {
    height: 100%;
    background: #1E477D;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 200%;
        background: url('../../../assets/img/vista_bcg.jpg') no-repeat center bottom / cover;
        animation: grow 4s ease-in-out infinite;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        overflow: hidden;
        max-width: 400px;
        animation: move 6s linear infinite;

        @for $i from 1 through 40 {
            &:nth-child(#{$i}) {
                clip-path: polygon(($i - 1) * 2.5% 0, $i * 2.5% 0, $i * 2.5% 100%, ($i - 1) * 2.5% 100%);
                animation-delay: 20ms * $i;
            }
        }
    }
}

@keyframes grow {
    0% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    95% {
        transform: translate(-50%, -50%) skew(-50deg, 0deg)
    }

    100% {
        transform: translate(-50%, -50%) skew(0deg)
    }
}
@keyframes move {
    @for $i from 0 through 4 {
        #{0% + ($i * 5%)} {
            transform: translate(-50%, -50%);
        }

        #{1% + ($i * 5%)} {
            transform: translate(-50%, -55%);
        }

        #{2% + ($i * 5%)} {
            transform: translate(-50%, -50%);
        }

        #{3% + ($i * 5%)} {
            transform: translate(-50%, -45%);
        }

        #{4% + ($i * 5%)} {
            transform: translate(-50%, -50%);
        }
    }

    100% {
        transform: translate(-50%, -50%);
    }

}