<div class="vista">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
  <img class="vista__logo" src="../../../assets/img/vista.png">
</div>