.input {
    height: 60px;
    border: 4px solid #000;
    line-height: 60px;
    background: #fff;
    padding: 0 1rem;
    font-family: monospace;
    font-weight: 700;
    font-size: 2rem;
    color: #000;
    text-transform: uppercase;
}