<div class='vidt-controller'>
  <!--  <div class="section">-->
  <!--    <h2 class="section__title">Beat</h2>-->
  <!--    <ul class="list">-->
  <!--      <li class="list__item">-->
  <!--        <button (click)="socket.sendBeat()" class="text-button">BEAT</button>-->
  <!--      </li>-->
  <!--    </ul>-->
  <!--  </div>-->

  <div class='section'>
    <h2 class='section__title'>Vidt</h2>
    <ul class='list'>
      @for (vidtPreset of (vidtPresets$ | async); track $index) {
        <li class='list__item'>
          <button (click)='socket.sendVidtPreset(vidtPreset)' class='text-button'>
            {{ vidtPreset }}
          </button>
        </li>
      }
    </ul>
  </div>

  <div class='section'>
    <h2 class='section__title'>Content Groups</h2>
    <ul class='list'>
      @for (contentGroup of (contentGroups$ | async); track $index) {
        <li class='list__item'>
          <button (click)='socket.sendContentGroup(contentGroup)' class='text-button'>
            {{ contentGroup.title }}
          </button>
        </li>
      }
    </ul>
  </div>

  <div class='section'>
    <h2 class='section__title'>Custom words</h2>
    <ul class='list'>
      <li class='list__item'>
        <label class='form__label'>Direct input</label>
        <input
          #mainDirect
          (keyup)='socket.sendText(mainDirect.value)'
          class='form__input'
          type='text'
        />
      </li>

      <li class='list__item'>
        <label class='form__label'>On send</label>
        <div class='form__item'>
          <input #mainBtn class='form__input' type='text' />
          <button
            (click)='socket.sendText(mainBtn.value)'
            class='text-button form__button'
          >
            SEND
          </button>
        </div>
      </li>
    </ul>
  </div>

  @if ((contentGroup$ | async); as contentGroup) {
    <div class='section'>
      <h2 class='section__title'>Text</h2>
      <ul class='list'>
        @for (word of contentGroup.wordSet; track $index) {
          <li class='list__item'>
            <button (click)='socket.sendText(word)' class='text-button'>
              {{ word }}
            </button>
          </li>
        }
      </ul>
    </div>
  }

  <div class='section'>
    <h2 class='section__title'>Shapes</h2>
    <ul class='list'>
      @for (shape of (shapes$ | async); track $index) {
        <li class='list__item'>
          <button (click)='socket.sendShape(shape)' class='text-button'>
            {{ shape }}
          </button>
        </li>
      }
    </ul>
  </div>

  <div class='section'>
    <h2 class='section__title'>Sizes</h2>
    <ul class='list'>
      @for (size of (sizes$ | async); track $index) {
        <li class='list__item'>
          <button (click)='socket.sendSize(size)' class='text-button'>
            {{ size }}
          </button>
        </li>
      }
    </ul>
  </div>


  <div class='section'>
    <h2 class='section__title'>Animations</h2>
    <ul class='list'>
      @for (type of (animations$ | async); track $index) {
        <li class='list__item'>
          <button (click)='socket.sendAnimation(type)' class='text-button'>
            {{ type }}
          </button>
        </li>
      }
    </ul>
  </div>

  <div class='section'>
    <h2 class='section__title'>GlitchIntensity</h2>
    <ul class='list'>
      @for (intensity of glitchIntensities; track $index) {
        <li class='list__item'>
          <button
            (click)='socket.sendGlitchIntensity(intensity.value)'
            class='text-button'
          >
            {{ intensity.label }}
          </button>
        </li>
      }
    </ul>
  </div>

  @if ((contentGroup$ | async); as contentGroup) {
    @if (contentGroup.images.length) {
      <div class='section'>
        <h2 class='section__title'>Photo's</h2>
        <ul class='list'>
          @for (image of contentGroup.images; track $index) {
            <li class='list__item'>
              <button
                (click)='socket.sendPhotoAsset(image)'
                [style.background-image]='getBackgroundCss(image)'
                class='photo-button'>
                &nbsp;
              </button>
            </li>
          }
        </ul>
      </div>
    }
    @if (contentGroup.videos.length) {
      <div class='section'>
        <h2 class='section__title'>Videos's</h2>
        <ul class='list'>
          @for (video of contentGroup.videos; track $index) {
            <li class='list__item'>
              <button (click)='socket.sendVideoAsset(video)' class='text-button'>
                {{ video }}
              </button>
            </li>
          }
        </ul>
      </div>
    }
  }
</div>
