<div class="page" [style.--first-color]="firstColor" [style.--second-color]="secondColor">
    <div class="wheel">
        <div class="wheel__circle">
            <div class="wheel__inner">
            </div>
        </div>
        <div class="wheel__circle">
            <div class="wheel__inner">
            </div>
        </div>
        <div class="wheel__circle">
            <div class="wheel__inner">
            </div>
        </div>
        <div class="wheel__circle">
            <div class="wheel__inner">
            </div>
        </div>
        <div class="wheel__circle">
            <div class="wheel__inner">
            </div>
        </div>
    </div>
</div>
