@mixin keyframe-glitch($name, $amount) {
  @keyframes #{$name} {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-$amount, $amount);
    }
    40% {
      transform: translate(-$amount, -$amount);
    }
    60% {
      transform: translate($amount, $amount);
    }
    80% {
      transform: translate($amount, -$amount);
    }
    100% {
      transform: translate(0);
    }
  }
}
