<div *ngIf='(launchpadPage$ | async) as launchpadPage' class='launchpad'>
    <div *ngFor='let row of launchpadPage.triggers' class='launchpad__row'>
        <div *ngFor='let button of row' class='launchpad__item'>
            <ng-container [ngSwitch]='button.triggerType'>
                <button *ngSwitchCase='triggerType.image'
                        [style.background-image]="'url(\'./assets/media-by-group/' + button.title + '\')'"
                        class='launchpad__button launchpad__button--{{ button.color }}'
                >
                </button>
                <button *ngSwitchCase='triggerType.color'
                        [style.background-color]='getColorString(button.triggerAction?.payload)'
                        class='launchpad__button launchpad__button--{{ button.color }}'
                >
                </button>
                <button (click)='socket.sendLaunchpadTrigger(button)'
                        *ngSwitchDefault
                        class='launchpad__button launchpad__button--{{ button.color }}'
                ><span class='launchpad__text'>{{ button.title }}</span>
                </button>
            </ng-container>
        </div>
    </div>
</div>
