@if (launchpads$ | async; as launchpads) {
  <button class='flip' type='button' (click)='flip()'>FLIP</button>
  <div class='wrapper'>
    @for (launchpad of launchpads; track launchpad.id) {
      <div class='launchpad'>
        <div class='launchpad__page-selector'>
          @for (page of pages; track $index) {
            <button type='button'
                    [class.button--active]='launchpad.pageNr===$index'
                    (click)='socket.sendLaunchpadPageChange(launchpad.id, page)'
            >
              {{ page }}
            </button>
          }
        </div>
        <h1>{{ launchpad.id }}</h1>

        @for (row of launchpad.page?.triggers; track $index) {
          <div class='launchpad__row'>
            @for (button of row; track $index) {
              <div class='launchpad__item'>
                @switch (button.triggerType) {
                  @case (triggerType.image) {
                    <button
                      (click)='socket.sendLaunchpadTrigger(button)'
                      [style.background-image]="
                      'url(\'./assets/media-by-group/' + button.title + '\')'
                    "
                      class='launchpad__button launchpad__button--{{
                      button.color
                    }}'
                    ></button>
                  }
                  @case (triggerType.color) {
                    <button
                      (click)='socket.sendLaunchpadTrigger(button)'
                      [style.background-color]='
                      getColorString([button.triggerAction?.payload])
                    '
                      class='launchpad__button launchpad__button--{{
                      button.color
                    }}'
                    ></button>
                  }
                  @case (triggerType.palette) {
                    <button
                      (click)='socket.sendLaunchpadTrigger(button)'
                      class='launchpad__button launchpad__button--{{
                      button.color
                    }}'
                    >
                      <div
                        class='launchpad__button--palette'
                        [style.background-image]='
                        getColorString(button.triggerAction?.payload)
                      '
                      ></div>
                    </button>
                  }
                  @default {
                    <button
                      (click)='socket.sendLaunchpadTrigger(button)'
                      class='launchpad__button launchpad__button--{{
                      button.color
                    }}'
                    >
                      <span class='launchpad__text'>{{ button.title }}</span>
                    </button>
                  }
                }
              </div>
            }
          </div>
        }
        <!--    }-->
      </div>
    }
  </div>
}

