@import '../../../styles/config/colors';
@import '../../../styles/config/sizes';
@import '../../../styles/mixins/screen';

.launchpad {
    --launchpad-text-size: 1.25rem;

    flex: auto;
    display: flex;
    flex-direction: column;
    max-height: 100vw;
    max-width: 100vh;

    &__row {
        display: flex;
        flex: 0 1 12.5%;
    }

    &__item {
        flex: 0 0 12.5%;
        padding: 0.2rem;
    }

    &__button {
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        color: $c-black;
        display: block;
        font-size: var(--launchpad-text-size);
        font-family: 'Klartext-Mono', 'monospace';
        font-weight: 700;
        padding-bottom: 100%;
        position: relative;
        transition: background-color .2s;
        width: 100%;

        &--red {
            background-color: $c-red;

            &:hover {
                background-color: $c-yellow;
            }
        }

        &--amber {
            background-color: $c-orange;

            &:hover {
                background-color: $c-green;
            }
        }

        &--yellow {
            background-color: $c-yellow;

            &:hover {
                background-color: $c-red;
            }
        }

        &--green {
            background-color: $c-green;

            &:hover {
                background-color: $c-orange;
            }
        }
    }

    &__text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @include screen($screen-large) {
        --launchpad-text-size: 1.25rem;
    }
}
