:root {
    --circle-rgb: 165, 42 ,42;
    --circle-animation-duration: 2s;
    --circle-animation-delay: 0s;
    --circle-distance-horizontal: 2vw;
    --circle-distance-vertical: calc(16vh - 25vw);
}

.circles {
    height: 100vh;
    width: 100vw;

    &__pool {
        aspect-ratio: 1/1;
        display: grid;
        position: absolute;
        width: 50vw;

        &:nth-child(1) {
            left: var(--circle-distance-horizontal);
            top: var(--circle-distance-vertical);
        }

        &:nth-child(2) {
            right: var(--circle-distance-horizontal);
            top: var(--circle-distance-vertical);
        }

        &:nth-child(3) {
            left: var(--circle-distance-horizontal);
            top: calc(50vh - 25vw);
        }

        &:nth-child(4) {
            right: var(--circle-distance-horizontal);
            top: calc(50vh - 25vw);
        }

        &:nth-child(5) {
            bottom: var(--circle-distance-vertical);
            left: var(--circle-distance-horizontal);
        }

        &:nth-child(6) {
            bottom: var(--circle-distance-vertical);
            right: var(--circle-distance-horizontal);
        }
    }

    &__circle {
        animation: circle var(--circle-animation-duration) linear infinite;
        animation-delay: var(--circle-animation-delay);
        aspect-ratio: 1/1;
        border: 3vh solid rgb(var(--circle-rgb));
        border-radius: 50%;
        grid-area: 1 / 1;
        scale: 0;
        transform-origin: center center;
        width: 100%;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
        scale: 0;
    }

    80% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
        scale: 1
    }
}