<div class="circles">
    @for (pool of pools; track poolIndex; let poolIndex = $index) {
        <div class="circles__pool">
            @if ((subCircles$ | async); as subcircles) {
                @for (subcircle of subcircles; track circleIndex; let circleIndex = $index) {
                    <div class="circles__circle"
                         [style.--circle-rgb]="subcircle.rgb.join(',')"
                         [style.--circle-animation-duration]="((baseTime$ | async) ?? 2) + 's'"
                         [style.--circle-animation-delay]="getDelay(poolIndex, circleIndex, (animationType$ | async))"
                    ></div>
                }
            }
        </div>
    }
</div>