<div class="logo-idle">
    <div class="logo-idle__stars">
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
        <div class="logo-idle__star"></div>
    </div>
    <app-glitch-text-component [glitchText]="'Strobocops'"></app-glitch-text-component>
</div>




