.color-glitch {
    --animation-time: 16s;
    animation: move-bcg var(--animation-time) ease infinite;

    background: repeating-linear-gradient(
            -50deg,
            var(--glitch-first-color),
            var(--glitch-first-color) 6vw,
            var(--glitch-second-color) 8vw,
            var(--glitch-second-color) 10vw
    );
    background-size: 400% 400%;
    height: 300vh;
    margin: -50vh -50vh -100vh -100vh;
    width: 300vw;
}

///////////////////
@keyframes move-bcg {
    0% {
        background-position: 0 50%;
        transform: rotate(0deg) skewX(0deg);
    }

    10% {
        background-position: 0 45%;
        transform: rotate(10deg) skewX(10deg);
    }

    30% {
        background-position: 0 30%;
        transform: rotate(40deg) skewX(5deg);
    }

    50% {
        background-position: 100% 50%;
        transform: rotate(40deg) skewX(-10deg);
    }

    70% {
        background-position: 90% 50%;
        transform: rotate(20deg) skewX(5deg);
    }

    100% {
        background-position: 0 50%;
        transform: rotate(0deg) skewX(0deg);
    }
}
