$c-green--dark: #00a000;
$c-white: #fff;

.hacking {
    background: #000;
    height: 100%;

    &__text {
        bottom: 0;
        font-family: monospace;
        font-size: 28px;
        left: 0;
        line-height: 1.5rem;
        padding: 2rem;
        position: absolute;
        right: 0;
    }

    &__character {
        animation: type 500ms linear;
        color: $c-green--dark;
    }
}

@keyframes type {
    0% {
        background: $c-white;
        color: $c-white;
    }

    5% {
        background: transparent;
        color: $c-white;
    }

    100% {
        background: transparent;
        color: $c-green--dark;
    }
}
