@import '../config/colors';
@import '../config/fonts';
@import '../config/sizes';
@import '../mixins/screen';

.app {
    background: $c-black;
    color: $c-white;
    min-height: 100vh;

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &__content {
        padding: 80px 1rem 2rem 1rem;
    }

    @include screen($screen-simple) {
        &__content {
            padding: 80px 1.5rem 2rem 1.5rem;
        }
    }
}