@import '../config/colors';
@import '../config/sizes';

.button {
    border: 2px solid transparent;
    display: block;
    height: 42px;
    line-height: 38px;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    transition: background-color .2s, border-color .2s;
    white-space: nowrap;

    &--white-outline {
        background-color: transparent;
        border-color: $c-offwhite;
        color: $c-white;
    }

    &--white {
        background-color: $c-offwhite;
        border-color: $c-offwhite;
        color: $c-black;
    }

    &:active,
    &:focus {
        outline: none;
    }
}