@import '../config/sizes';
@import '../mixins/list-reset';
@import '../mixins/screen';

.list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    margin: -.4rem;

    &__item {
        padding: .4rem;
    }

    &--presets {
        > .list__item {
            flex-basis: 100%;
            width: 100%;
        }
    }
}