@import '../config/colors';
@import '../config/fonts';
@import '../config/sizes';
@import '../mixins/list-reset';
@import '../mixins/screen';

.nav {
    background: $c-pink;
    height: $nav-height;

    &__list {
        @include list-reset;
        display: flex;
        height: 100%;
    }

    &__item {
        flex: 0 0 auto;
        position: relative;

        &::after {
            content: '';
            width: 1px;
            height: 60%;
            background: $c-white;
            position: absolute;
            top: 20%;
            right: 0;
        }
        
        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__link {
        color: $c-white;
        display: block;
        height: 100%;
        font-weight: 700;
        line-height: 42px;
        padding: 0 1rem;
        transition: color .2s;
        text-transform: uppercase;

        &:hover,
        &.is-active {
            color: $c-black;
        }
    }

    @include screen($screen-simple) {
        padding: 0 .5rem;
    }
}