@import '../mixins/list-reset';

.options {
    &__section {
        margin-bottom: 2rem;
    }

    &__title {
        font-family: monospace;
        font-size: 2rem;
        margin: 0 0 1rem;
        text-transform: uppercase;
    }

    &__list {
        @include list-reset;
        display: flex;
        flex-wrap: wrap;
        margin: -0.4rem;

        & + .options__list {
            margin-top: 0.4rem;
        }
    }

    &__item {
        padding: 0.4rem;
    }

    &__output {
        font-family: monospace;
        font-size: 1rem;
        margin: 1rem 0;
        text-transform: uppercase;
    }
}
