@import '../config/colors';
@import '../config/sizes';
@import '../mixins/typography';

.photo-button {
  background-color: $c-purple;
  border: 2px solid $c-purple;
  display: block;
  color: $c-white;
  line-height: $height-button - 4px;
  min-width: 120px;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

}
