@import '../config/colors';
@import '../config/sizes';
@import '../mixins/typography';

.trigger-button {
    background-color: $c-black;
    border: 1px solid white;
    display: block;
    color: $c-white;
    font-size: 1.125rem;
    font-weight: $weight-medium;
    height: $height-button;
    line-height: $height-button - 4px;
    min-width: 120px;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    white-space: nowrap;

    &:active,
    &:focus {
        outline: none;
    }
}
