<div class='app'>
  <ng-container>
    <div class='app__nav'>
      <nav class='nav'>
        <div class='nav__container'>
          <ul class='nav__list'>
            @for (page of pages; track page) {
              <li class='nav__item'>
                <button
                  [routerLink]='page.path'
                  class='nav__link'
                  routerLinkActive='is-active'
                >
                  {{ page.text }}
                </button>
              </li>
            }
          </ul>
        </div>
      </nav>
    </div>
  </ng-container>
  <div class='app__content'>
    <router-outlet></router-outlet>
  </div>
</div>
