<div class='gridscape'>
    <div class='gridscape__horizon'>
        @for (star of stars; track $index; ) {
            <div class='gridscape__star'></div>
        }
        <div #sun class='gridscape__sun'></div>
    </div>
    <div class='gridscape__land'>
        <div class='gridscape__lines-horizontal'>
            @for (lineHorizontal of createFilledArray(10); track 'hor' + lineHorizontal; ) {
                <div class='gridscape__line-horizontal' v-for='line in linesHorizontal'></div>
            }
        </div>
        <div class='gridscape__lines-vertical'>
            @for (lineVertical of createFilledArray(80); track 'vert' + lineVertical; ) {
                <div class='gridscape__line-vertical' v-for='line in linesVertical'></div>
            }
        </div>
        <div class='gridscape__overlay'></div>
    </div>
</div>
