@mixin overflow-gradient {
    &::before,
    &::after {
        content: '';
        display: none;
        height: 100%;
        position: absolute;
        top: 0;
        width: var(--overflow-gradient-width);
        z-index: 10;
    }

    &::before {
        background: var(--overflow-gradient-left);
        left: 0;
    }

    &::after {
        background: var(--overflow-gradient-right);
        right: 0;
    }

    &.is-overflow-left {
        &::before {
            display: block;
        }
    }

    &.is-overflow-right {
        &::after {
            display: block;
        }
    }
}
