// SCREENSIZES
$screen-xsmall: 340px;
$screen-minimal: 480px;
$screen-simple: 768px;
$screen-normal: 1024px;
$screen-large: 1280px;
$screen-xlarge: 1440px;
$screen-huge: 1680px;
$screen-jumbo: 1920px;

//  OTHER
$nav-height: 44px;
$content-padding: 10px;
$height-button: 60px;

:root {
  --nav-height: #{$nav-height};
  --page-padding: #{$content-padding}
}
