<div class="color-controller">
  <ul class="list list--colors">
    <li class="list__item">
      <app-trigger-button [colors]="[{h: 0, s: 255, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 18, s: 255, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 42, s: 255, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 90, s: 255, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 86, s: 255, b: 150}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 130, s: 255, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 158, s: 255, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 200, s: 255, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 220, s: 255, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 0, s: 0, b: 255}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[{h: 0, s: 0, b: 0}]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[
      {h: 129, s: 255, b: 255},
      {h: 200, s: 255, b: 255},
      {h: 183, s: 255, b: 255},
      {h: 218, s: 255, b: 255}
      ]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[
      {h: 0, s: 255, b: 255},
      {h: 16, s: 255, b: 255},
      {h: 45, s: 255, b: 255},
      {h: 90, s: 255, b: 255}
      ]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[
      {h: 220, s: 255, b: 255},
      {h: 90, s: 255, b: 255}
      ]"></app-trigger-button>
    </li>

    <li class="list__item">
      <app-trigger-button [colors]="[
      {h: 90, s: 255, b: 255},
      {h: 158, s: 255, b: 255},
      {h: 220, s: 255, b: 255}
      ]"></app-trigger-button>
    </li>

  </ul>
</div>
