<div class="color-controller">
    <ul class="list list--colors">
        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 255, 255)" [ngStyle]="getStyle([[0, 255, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(18, 255, 255)" [ngStyle]="getStyle([[18, 255, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(42, 255, 255)" [ngStyle]="getStyle([[42, 255, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(90, 255, 255)" [ngStyle]="getStyle([[90, 255, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(86, 255, 150)" [ngStyle]="getStyle([[86, 255, 150]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(130, 255, 255)" [ngStyle]="getStyle([[130, 255, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(158, 255, 255)" [ngStyle]="getStyle([[158, 255, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(200, 255, 255)" [ngStyle]="getStyle([[200, 255, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(220, 255, 255)" [ngStyle]="getStyle([[220, 255, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 0, 255)" [ngStyle]="getStyle([[0, 0, 255]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendColor(0, 0, 0)" [ngStyle]="getStyle([[0, 0, 0]])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendMultiColor([129, 200, 183, 218])" [ngStyle]="getMultiStyle([129, 200, 183, 218])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendMultiColor([0, 16, 45, 90])" [ngStyle]="getMultiStyle([0, 16, 45, 90])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendMultiColor([220, 90])" [ngStyle]="getMultiStyle([220, 90])"></button>
        </li>

        <li class="list__item">
            <button class="button color-controller__button" (click)="sendMultiColor([90, 158, 220])" [ngStyle]="getMultiStyle([90, 158, 220])"></button>
        </li>

    </ul>
</div>
