<div class="gridscape">
    <div class="gridscape__horizon">
        <div class=gridscape__star *ngFor="let star of stars"></div>
        <div class="gridscape__sun" [class.bounce]="bounce">
        </div>
    </div>
    <div class="gridscape__land">
        <div class="gridscape__lines-horizontal">
            <div class="gridscape__line-horizontal" *ngFor="let line of linesHorizontal"></div>
        </div>
        <div class="gridscape__lines-vertical">
            <div class="gridscape__line-vertical" *ngFor="let line of linesVertical"></div>
        </div>
        <div class="gridscape__overlay"></div>
    </div>
</div>