@import '../config/colors';
@import '../config/fonts';
@import '../config/sizes';
@import '../mixins/container';
@import '../mixins/screen';

.app {
  background: $c-black;
  color: $c-white;
  min-height: 100vh;

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__content {
    @include container;
    padding-bottom: 20px;
    padding-top: ($nav-height + 40px);
  }
}
